.form__{
	&panel{
		&.is--block{
			&-subs{
				margin: 0 auto 40px;
				max-width: 432px;
				.media-breakpoint-up(@lg; {
					margin: 0 auto 90px;
				});
			}
			&-search{
				max-width: 656px;
				margin-bottom: 40px;
			}
		}
   		&.is--modal-sale{
			max-width: 335px;
			text-align: center;  
   			margin: 0 auto; 			
   		}
	}
	&item{
		position: relative;
		&.is--block{
			&-subs{
				
			}
		}
		&.is--modal-sale{
			margin-bottom: 22px;			
		}
	}
	&control{
		font-family: @site_ff;
		box-shadow: none;
		width: 100%;
		background: @input_bg;
		border-width: @input_border_width;   
		border-style: solid;   
		border-color: @input_border_color;
		border-radius: @input_radius;	   
		height: @input_height;
		padding: 10px;
		color: @input_color;
		transition: @trs-site;
		&[type="text"]{
			-webkit-appearance: none;
		}
		&[type=number]{ -moz-appearance: textfield; }
		&[type=number]::-webkit-inner-spin-button,
		&[type=number]::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		&::-moz-placeholder{
			transition: @trs-site;
			color: @input_plh_color;
		}
		&::-webkit-input-placeholder {
			transition: @trs-site;
			color: @input_plh_color;
		}
		&.is--focus,
		&:focus{ 
			outline:none;
			border-color: @input_focus_border_color;
		}
		&[disabled]{
			background-color: @input_disabled_bg;
			cursor: not-allowed;
			border-color: @input_disabled_border_color;
			color: @input_disabled_color;
			&::-moz-placeholder{
				color: @input_disabled_color;
			}
			&::-webkit-input-placeholder {
				color: @input_disabled_color;
			}
		}
		&.is--block{
			&-subs{
				padding-right: @input_height - 5;
			}
			&-search{
				height: @input_height - 2;
				color: @black;
				background-color: @white;
				border-color: fadeout(@black, 80%);
				padding-left: 50px;
				.heading7();
				font-weight: 600;
				&::-moz-placeholder{
					color: fadeout(@black, 40%);
				}
				&::-webkit-input-placeholder {
					color: fadeout(@black, 40%);
				}
			}
		}
		&.is--modal-sale{
			border: 2px solid #00afab;
			text-align: center;
			box-sizing: border-box;
			background-color: @white;
			color: #374250;
			height: 38px;
	   	 	font-family: 'RoadRadio';
	    	box-shadow: none;
	    	padding: 6.5px 10px;
			font-size: 14px;
			line-height: 17px;
	    	border-radius: 0;
	    	transition: @trs-site;
			&::-moz-placeholder{
		   	 	font-family: 'RoadRadio';
				color: #ababab;
				font-weight: 300;
			}
			&::-webkit-input-placeholder {
		   	 	font-family: 'RoadRadio';
				color: #ababab;
				font-weight: 300;
			}
			&:focus{
				background-color: #00afab;
				color: #fff;
				&::-moz-placeholder{
					color: #fff;
				}
				&::-webkit-input-placeholder {
					color: #fff;
				}
			}
			&:focus{
				outline: none;
			}
		}
	}
	&btn{
		.btn-clearfix();
		cursor: pointer;
		&.is--block{
			&-subs{
				position: absolute;
				.icon-submit();
				width: @input_height;
				height: @input_height;
				background-position: center;
				right: 0;
				top: 0;
			}
			&-search{
				position: absolute;
				width: 24px;
				height: 24px;
				top: 50%;
				left: 15px;
				transform: translateY(-50%);
			}
		}
	}
	&submit{
		&.is--modal-sale{
			.btn-clearfix();
			color: @white;
			font-size: 20px;
			line-height: 20px;
			color: #feffff;
			font-weight: bold;
	   	 	font-family: 'RoadRadio';
			background-color: #00afab;
			border: 2px solid #00afab;
			text-align: center;
			padding: 7px;
			&:hover{
				background-color: @white;
				color: #00afab;
			}
		}
	}
}