<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
    <head>
        {% include "../block/common/head/head.twig" with {title:"Каталог"}  %}
    </head>
    <body>
        {% include "../block/common/navbar/navbar.twig" with {
            prefix:"navbar__",
        } %} 
        <main class="{{prefix.section}}wrap">
            <section class="section__content  is--page-default  {{tg.prefix}}body" >
                <div class="section__container container  is--page-default">
                    {% include "../block/page/catalog.twig" with {
                        view:"card",

                        content_prefix: prefix.section, 
                        content_mod:    "is--page-catalog-card",  
                        content_group:  "is--page-catalog-card", 

                        bread_attr:     "",
                        bread_mod:      "",
                        bread:[
                            {name:"Главная", link: page.index},
                            {name:"Каталог", link: page.catalog},
                            {name:"Климатическое оборудование", link: page.catalog_cat},
                            {name:"Ультразвуковые увлажнители воздуха"}
                        ],


                        heading_group:  '', 
                        heading_attr:   '',
                        heading_mod:    "is--h1  is--page-catalog-card", 
                        heading_level:  "h1", 
                        heading:        "Серия Limerence: RE1",
                        soc_prefix:     'icon__',
                        soc_mod:        'is--catalog-item',
                        soc: [
                            {
                                'id':"is--soc1",
                                'icon':"icon-favorite",
                                'note':'Нравится',
                            },
                            {
                                'id':"is--soc2",
                                'icon':"icon-share",
                                'note':'Поделиться',
                            },
                            {
                                'id':"is--soc3",
                                'icon':"icon-print",
                                'note':'На печать',
                            },
                            {
                                'id':"is--soc4",
                                'icon':"icon-send",
                                'note':'Отправить на почту',
                            },
                            {
                                'id':"is--soc5",
                                'icon':"icon-compare",
                                'note':'Добавить к сравнению',
                            }
                        ],

                        card_prefix:    "card__",
                        card_mod:       "is--catalog-item",
                        card_heading:   "Электрический накопительный водонагреватель",
                        card_preview:   "https://www.timberk.ru/upload/resize_cache/iblock/439/700_700_0/4399d438adf44c2e3d54f9e0d2fb478b.png",
                        card_decs: [
                            {
                                name:"Объём, л",
                                value:"30",
                            },
                            {
                                name:"Номинальная потребляемая мощность, Вт",
                                value:"5000",
                            },
                            {
                                name:"Расположение",
                                value:"Горизонтальное",
                            },
                            {
                                name:"Панель управления",
                                value:"Сенсорная",
                            },
                        ], 
                        card_note:      "<p>Водонагреватель Limerence – влюбиться с первого взгляда. Греет воду быстрее в 2,5 раза! Самообучающаяся программа подстраивается под индивидуальные предпочтения нагрева воды, ТЭН с эмалированным покрытием обеспечивает уникально долгий срок службы.<p>",
                        card_confirm:      "true",

                        slider_nav_view:   "catalog-slider",
                        slider_nav_mod:    "is--catalog-slider-nav",
                        slider_nav:[
                            {
                                "img": "https://www.timberk.ru/upload/resize_cache/iblock/439/700_700_0/4399d438adf44c2e3d54f9e0d2fb478b.png",
                            },
                            {
                                "img": "https://www.timberk.ru/upload/resize_cache/iblock/09e/700_700_0/09ec6b6be02022187f16115c6437c787.png",
                            },
                            {
                                "img": "https://www.timberk.ru/upload/resize_cache/iblock/4b6/700_700_0/4b6dc3dd59cd756ad1d803090df68544.png",
                            },
                            {
                                "img": "https://www.timberk.ru/upload/resize_cache/iblock/58b/700_700_0/58bba9657ae237df219d9b51ef7d9279.png",
                            },
                            {
                                "img": "https://www.timberk.ru/upload/resize_cache/iblock/2cb/700_700_0/2cbaab06dff6c8e3614abd86bd87362e.png",
                            },
                            {
                                "img": "https://www.timberk.ru/upload/resize_cache/iblock/36b/700_700_0/36b48bdcc479013a1a0dfa5228af2cb5.png",
                            },
                        ],
                        slider_view:        "catalog-slider",
                        slider_mod:         "is--catalog-slider",
                        slider:[                            
                            {
                                "img": "https://www.timberk.ru/upload/resize_cache/iblock/439/700_700_0/4399d438adf44c2e3d54f9e0d2fb478b.png",
                                "zoom": "true",
                            },
                            {
                                "img": "https://www.timberk.ru/upload/resize_cache/iblock/09e/700_700_0/09ec6b6be02022187f16115c6437c787.png",
                                "zoom": "true",
                            },
                            {
                                "img": "https://www.timberk.ru/upload/resize_cache/iblock/4b6/700_700_0/4b6dc3dd59cd756ad1d803090df68544.png",
                                "zoom": "true",
                            },
                            {
                                "img": "https://www.timberk.ru/upload/resize_cache/iblock/58b/700_700_0/58bba9657ae237df219d9b51ef7d9279.png",
                                "zoom": "true",
                            },
                            {
                                "img": "https://www.timberk.ru/upload/resize_cache/iblock/2cb/700_700_0/2cbaab06dff6c8e3614abd86bd87362e.png",
                                "zoom": "true",
                            },
                            {
                                "img": "https://www.timberk.ru/upload/resize_cache/iblock/36b/700_700_0/36b48bdcc479013a1a0dfa5228af2cb5.png",
                                "zoom": "true",
                            },
                        ],
                        label:              "Новинка",
                        label_color:        "#DF707E",
                        color:[
                            {
                                "color": "#fff",
                            },
                            {
                                "color": "#000",
                            },
                            {
                                "color": "#EDC7B7",
                            }
                        ],
                    } %} 

                    {% include "../block/page/catalog.twig" with {
                        view:"card-about",
                        content_prefix:prefix.section, 
                        content_mod:"is--block-catalog",  
                        heading_group:"", 
                        heading_attr:'',
                        heading_mod:"is--h1  is--block-articles  text-align--center", 
                        heading_level:"h2", 
                        heading:"О приборе",

                        tabs_view:'base',
                        tabs_prefix:prefix.tabs,
                        tabs_mod:'',
                        tabs_group:'',
                        tabs_list:[
                            {
                                "id":"tabs-catalog-item1",
                                "name":"Описание",
                                "status":"active",
                                "type":"catalog-item-note",
                                "view":"catalog-item-note",
                                "mod":"is--catalog-item-note",
                                "adv": [
                                    {
                                        'id':"is--1",
                                        'icon':"icon-easy-slide360",
                                        'note':'<p>Регулировка направления потока пара в разные стороны с помощью поворотного распылителя для повышения эффективности увлажнения.</p><p><a href="#">Подробнее</a></p>',
                                    },
                                    {
                                        'id':"is--2",
                                        'icon':"icon-itouch",
                                        'note':'<p>Сенсорная панель управления с индикацией всех основных параметров настройки работы прибора.</p><p><a href="#">Подробнее</a></p>',
                                    }
                                ],
                                "desc": [
                                    {
                                        'name':"Преимущества прибора",
                                        'ul':[
                                            {name:'Сенсорная панель управления Hidden Touch, очень большой информационный LED-дисплей с индикацией всех режимов работы'},
                                            {name:'Мощность ТЭНа составляет 5000 Вт! А это значит, что нагрев воды будет происходить в 2,5 раза быстрее! Так, время нагрева при Δ 30°С составляет всего 11 минут вместо получаса.'},
                                            {name:'100% долговечности работы! ТЭН из нержавеющей стали с двойным защитным эмалированием, которое надежно защищает нагревательный элемент от коррозии'},
                                        ]
                                    },
                                    {
                                        'name':"Основные характеристики",
                                        'ul':[
                                            {name:'Эргономичная механическая панель управления'},
                                            {name:'Регулировка направляния потока пара'},
                                            {name:'Ультразвуковая мембрана повышенной мощности'},
                                            {name:'Больая емкость резервуара'},
                                            {name:'LED-дисплей'},
                                            {name:'Мощность прибора - 25 Вт'},
                                            {name:'Дополнительная опция: установка на крышку резервуара с клапаном фильтр-картриджа для воды с минеральным камнем! (TMS FL16, приобретается отдельно)'},
                                        ]
                                    },
                                ],
                                "slider_view":"catalog-slider",
                                "slider_mod":"is--catalog-item-slider",
                                "slider":[
                                    {
                                        "name":"Сенсорное управление",
                                        "img": [path.img,"/default/catalog-item-slider-n1.jpg "].join(""),
                                    },
                                    {
                                        "name":"Увлажнение 360 мл/ч",
                                        "img": [path.img,"/default/catalog-item-slider-n1.jpg "].join(""),
                                    },
                                    {
                                        "name":"Объем бака 5 л",
                                        "img": [path.img,"/default/catalog-item-slider-n1.jpg "].join(""),
                                    },
                                ],
                            },
                            {
                                "id":"tabs-catalog-item2",
                                "name":"Характеристики",
                                "status":"",
                                "type":"catalog-item-table",
                            },
                        ],
                                
                        links:[
                            {
                                "name":"Инструкция",
                                "icon":'icon-instructions',
                            },
                            {
                                "name":"Скачать фото",
                                "icon":'icon-download-photo',
                            },
                            {
                                "name":"Каталог",
                                "icon":'icon-book',
                            },
                        ],
                        note_mod:"is--catalog-item-desc",
                        note: [
                            {
                                'name':"Сфера применения",
                                'note':'<p style="text-align: justify;">Электрические накопительные водонагреватели (бойлеры) - оборудование, предназначенное для использования в бытовых и коммерческих помещениях в случае постоянного или временного отсутствия центрального горячего водоснабжения. <br><br>Накопительные водонагреватели идеально подходят для обеспечения горячей водой загородных домов, а так же городских квартир. Водонагреватели подключаются к стандартной сети электропитания дома и могут обеспечить подачу горячей воды в несколько точек потребления. Различаются между собой в основном по литражу (как правило, от 30 до 100 литров), мощностью нагревательного элемента, материалу внутреннего резервуара и производительностью по нагреву.</p>'
                            },
                        ],
                        articles_heading:"Рекомендуем почитать",
                        articles_view:"articles",
                        articles_mod:"is--articles",
                        articles:[
                            {
                                "link":page.articles_card,
                                "group":'is--lg',
                                "name":"Защита от избыточной влажности",
                                "note":"Высокоэффективные и эргономичные очистители воздуха с уникальной системой фильтров",
                                "img": [path.img,"/default/articles-item1.jpg "].join(""),
                            },
                            {
                                "link":page.articles_card,
                                "group":'is--lg',
                                "name":"Ваше здоровье под защитой",
                                "note":"Высокоэффективные и эргономичные очистители воздуха с уникальной системой фильтров",
                                "img": [path.img,"/default/articles-item1.jpg "].join(""),
                            },
                            {
                                "link":page.articles_card,
                                "group":'is--lg',
                                "name":"Защита от избыточной влажности",
                                "note":"Высокоэффективные и эргономичные очистители воздуха с уникальной системой фильтров",
                                "img": [path.img,"/default/articles-item1.jpg "].join(""),
                            },
                            {
                                "link":page.articles_card,
                                "group":'is--lg',
                                "name":"Ваше здоровье под защитой",
                                "note":"Высокоэффективные и эргономичные очистители воздуха с уникальной системой фильтров",
                                "img": [path.img,"/default/articles-item1.jpg "].join(""),
                            }
                        ]  
                    } %}
                </div>
            </section>
        </main>

        {% include "../block/common/footer/footer.twig" with {
            prefix:"footer__",
        } %}
        {% include "../block/common/navbar/menu.twig" %} 
         
        {% include "../block/common/modals/include.twig" %}

        {% include "../block/common/script/script.twig" with {
            view: "modal",
            custom: "true" 
        }%}
        <script>
            $('[data-bay]').on("click", function (e) {
                var data = $(this).data('bay');
                var shops = data.shop;
                for(var i = 0; i < shops.length; i++){
                    var content = 
                        '<p><a href="'+shops[i]['link']+'">'+shops[i]['logo']+'</p>';
                    $('[data-bay-content]').setContent(content);
                    //console.log(shops[i]['link']);
                    //console.log(shops[i]['logo']);
                    /*var coord = coords[i]['coord'];
                    if (offices) {
                        var popContent = 
                            '<div class="map__popup-heading"><a href="'+coords[i]['link']+'">'+coords[i]['heading']+'</a></div><div class="map__popup-content">' +
                        '<p class="map__popup-text  is--fw">'+coords[i]['tel']+'</p>' +
                        '<p class="map__popup-text">'+coords[i]['addr']+'</p></div>';
                    } else {
                        var popContent = 
                            '<div class="map__popup-heading">'+coords[i]['heading']+'</div>'; 
                    }
                    var obj_popup = DG.popup({
                        className: 'map__popup',
                    }).setContent(popContent);

                    var marker = DG.marker([coord[0], coord[1]],{icon: myIcon});
                    marker.bindPopup(obj_popup);
                    markers.addLayer(marker); */                  
                }
            });
        </script>
    </body>
</html>