<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
    <head>
        {% include "../block/common/head/head.twig" with {title:"Каталог"}  %}
    </head>
    <body>

        {% include "../block/common/navbar/navbar.twig" with {
            prefix:"navbar__",
        } %} 
        <main class="{{prefix.section}}wrap">    
            {% include "../block/page/catalog.twig" with {
                view:"category",

                content_prefix: prefix.section, 
                content_mod:    "is--page-catalog-cat",  
                content_group:  "is--page-catalog-cat", 

                banner_view:    'banner',
                banner_mod:     'is--block-banner', 
                banner_img:     [path.img,"/default/banner-second.png"].join(""),

                bread_attr:     "",
                bread_mod:      "",
                bread:[
                    {name:"Главная", link: page.index},
                    {name:"Каталог", link: page.catalog},
                    {name:"Климатическое оборудование", link: page.catalog_cat},
                    {name:"Ультразвуковые увлажнители воздуха"}
                ],

                heading_group:  'is--page-catalog-cat', 
                heading_attr:   '',
                heading_mod:    "is--h1", 
                heading_level:  "h1", 
                heading:        "Ультразвуковые увлажнители воздуха",

                search_view:    'search',
                search_group:   'is--aside-search',
                search_mod:     'is--search',


                nav_view: 'catalog-nav',
                nav_mod: 'is--catalog-nav',
                nav_list: [
                    {
                        link:page.catalog_cat, 
                        name:"Климатическое оборудование",
                        nav: [
                            {
                                name:'Кондиционеры и сплит-системы',
                                link:page.catalog_cat,
                            },
                            {
                                name:'Осушители',
                                link:page.catalog_cat,
                            },
                            {
                                name:'Воздухоочистители',
                                link:page.catalog_cat,
                            },
                            {
                                name:'Ультразвуковые увлажнители воздуха',
                                link:page.catalog_cat,
                            },
                            {
                                name:'Мойки воздуха',
                                link:page.catalog_cat,
                            },
                            {
                                name:'Электрические вентиляторы',
                                link:page.catalog_cat,
                            }
                        ]
                    }
                ], 

                card_view: 'catalog-card',
                card_mod: 'is--catalog-card',
                card_list: [                    
                    {
                        "link":page.catalog_card, 
                        "group":"col-lg-3", 
                        "name":"Серия Steamy: UL 37E", 
                        "compare":"check", 
                        "img": [path.img,"/default/catalog-new-item1.png"].join(""),
                        "bg": [path.img,"/default/catalog-new-bg-item1.jpg"].join(""),
                    },                   
                    {
                        "link":page.catalog_card, 
                        "group":"col-lg-3", 
                        "name":"Серия Nordvind: DH30", 
                        "compare":"true", 
                        "img": [path.img,"/default/catalog-new-item1.png"].join(""),
                        "bg": [path.img,"/default/catalog-new-bg-item1.jpg"].join(""),
                    },              
                    {
                        "link":page.catalog_card, 
                        "group":"col-lg-3", 
                        "name":"Серия Dry Expert: DH30", 
                        "compare":"true", 
                        "img": [path.img,"/default/catalog-new-item1.png"].join(""),
                        "bg": [path.img,"/default/catalog-new-bg-item1.jpg"].join(""),
                        "label": "Флагман",
                        "label_color": "#942FD1",
                    },                   
                    {
                        "link":page.catalog_card, 
                        "group":"col-lg-3", 
                        "name":"Серия Gra: N27C", 
                        "compare":"true", 
                        "img": [path.img,"/default/catalog-new-item1.png"].join(""),
                        "bg": [path.img,"/default/catalog-new-bg-item1.jpg"].join(""),
                    },                   
                    {
                        "link":page.catalog_card, 
                        "group":"col-lg-3", 
                        "name":"Серия Daisy: UL 42E", 
                        "compare":"true", 
                        "img": [path.img,"/default/catalog-new-item1.png"].join(""),
                        "bg": [path.img,"/default/catalog-new-bg-item1.jpg"].join(""),
                    },              
                    {
                        "link":page.catalog_card, 
                        "group":"col-lg-3", 
                        "name":"Серия Natt: T-AC-S29", 
                        "compare":"check", 
                        "img": [path.img,"/default/catalog-new-item1.png"].join(""),
                        "bg": [path.img,"/default/catalog-new-bg-item1.jpg"].join(""),
                        "label": "Новинка",
                        "label_color": "#DF707E",
                    },                   
                    {
                        "link":page.catalog_card, 
                        "group":"col-lg-3", 
                        "name":"Серия Modern: N23C", 
                        "img": [path.img,"/default/catalog-new-item1.png"].join(""),
                        "bg": [path.img,"/default/catalog-new-bg-item1.jpg"].join(""),
                    },                   
                    {
                        "link":page.catalog_card,
                        "group":"col-lg-3",  
                        "name":"Серия Gra: N27C", 
                        "img": [path.img,"/default/catalog-new-item1.png"].join(""),
                        "bg": [path.img,"/default/catalog-new-bg-item1.jpg"].join(""),
                    },              
                    {
                        "link":page.catalog_card, 
                        "group":"col-lg-3", 
                        "name":"Серия Daisy: UL 42E", 
                        "img": [path.img,"/default/catalog-new-item1.png"].join(""),
                        "bg": [path.img,"/default/catalog-new-bg-item1.jpg"].join(""),
                    },                   
                    {
                        "link":page.catalog_card, 
                        "group":"col-lg-3", 
                        "name":"Серия Natt: T-AC-S29", 
                        "img": [path.img,"/default/catalog-new-item1.png"].join(""),
                        "bg": [path.img,"/default/catalog-new-bg-item1.jpg"].join(""),
                    },                  
                    {
                        "link":page.catalog_card, 
                        "group":"col-lg-3", 
                        "name":"Серия Modern: N23C", 
                        "img": [path.img,"/default/catalog-new-item1.png"].join(""),
                        "bg": [path.img,"/default/catalog-new-bg-item1.jpg"].join(""),
                    },                
                    {
                        "link":page.catalog_card, 
                        "group":"col-lg-3", 
                        "name":"Серия Beauty: UL 16", 
                        "img": [path.img,"/default/catalog-new-item1.png"].join(""),
                        "bg": [path.img,"/default/catalog-new-bg-item1.jpg"].join(""),
                    }, 
                ],  
            } %} 

            {% include "../block/page/index.twig" with {
                view:"articles", 
                content_prefix:prefix.section, 
                content_mod:"is--block-articles",  
                heading_group:"", 
                heading_attr:'',
                heading_mod:"is--h1  is--block-articles  text-align--center", 
                heading_level:"h2", 
                heading:"Рекомендуем почитать",


                tabs_view:'base',
                tabs_prefix:prefix.tabs,
                tabs_mod:'',
                tabs_group:'',
                tabs_list:[
                    {
                        "id":"tabs-articles1",
                        "name":"Климат",
                        "status":"",
                        "text":"Климат",
                    },
                    {
                        "id":"tabs-articles2",
                        "name":"Очистка воздуха",
                        "status":"active",
                        "type":"card_slider",
                        "view":"articles",
                        "mod":"is--articles",
                        "list":[
                            {
                                "link":page.articles_card,
                                "group":'is--horizontal',
                                "name":"Edelweiss — профессиональная система очистки воздуха",
                                "note":"Высокоэффективные и эргономичные очистители воздуха с уникальной системой фильтров",
                                "img": [path.img,"/default/articles-item1.jpg "].join(""),
                            }
                        ] ,
                        "slider":[
                            {
                                "link":page.articles_card,
                                "name":"Edelweiss — профессиональная система очистки воздуха",
                                "note":"Высокоэффективные и эргономичные очистители воздуха с уникальной системой фильтров",
                                "img": [path.img,"/default/articles-item1.jpg "].join(""),
                            },
                            {
                                "link":page.articles_card,
                                "name":"Edelweiss — профессиональная система очистки воздуха",
                                "note":"Высокоэффективные и эргономичные очистители воздуха с уникальной системой фильтров",
                                "img": [path.img,"/default/articles-item1.jpg "].join(""),
                            },
                            {
                                "link":page.articles_card,
                                "name":"Edelweiss — профессиональная система очистки воздуха",
                                "note":"Высокоэффективные и эргономичные очистители воздуха с уникальной системой фильтров",
                                "img": [path.img,"/default/articles-item1.jpg "].join(""),
                            },
                            {
                                "link":page.articles_card,
                                "name":"Edelweiss — профессиональная система очистки воздуха",
                                "note":"Высокоэффективные и эргономичные очистители воздуха с уникальной системой фильтров",
                                "img": [path.img,"/default/articles-item1.jpg "].join(""),
                            },
                            {
                                "link":page.articles_card,
                                "name":"Edelweiss — профессиональная система очистки воздуха",
                                "note":"Высокоэффективные и эргономичные очистители воздуха с уникальной системой фильтров",
                                "img": [path.img,"/default/articles-item1.jpg "].join(""),
                            }
                        ] 
                    },
                    {
                        "id":"tabs-articles3",
                        "name":"Тепло",
                        "status":"",
                        "text":"Тепло",
                    },
                    {
                        "id":"tabs-articles4",
                        "name":"Нагрев воды",
                        "status":"",
                        "text":"Нагрев воды",
                    },
                ]  
            } %}

            {% include "../block/page/block.twig" with {
                view:"seo", 
                content_prefix:prefix.section, 
                content_mod:"is--block-seo",  
                note:'<h2>Накопительные водонагреватели Timberk&nbsp;— решение, привлекающее универсальностью</h2><p>Некоторые покупатели считают, что выбрать накопительный водонагреватель для дачи легко, но&nbsp;на&nbsp;самом деле это не&nbsp;так! Здесь нужно учесть объем бака, расположение устройства, его мощность, габариты и&nbsp;даже стилевое оформление. В&nbsp;данном разделе вы&nbsp;сможете найти ответы на&nbsp;все интересующие вас вопросы и&nbsp;выбрать водонагреватель накопительного типа с&nbsp;эмалированным внутренним баком и&nbsp;с&nbsp;баком из&nbsp;нержавеющей стали. Отдельная категория&nbsp;— нагреватели полупромышленного типа, отличающиеся более внушительными эксплуатационными характеристиками.</p><p>Сегодня особым спросом пользуется техника Timberk, ведь каждый такой накопительный водонагреватель для квартиры обладает рядом достоинств:</p><p>—&nbsp;фланцевые соединения максимально качественные, а&nbsp;если и&nbsp;возникают какие-то проблемы, то&nbsp;они являются ремонтопригодными;<br>—&nbsp;водонагреватель для дачи накопительный управляется с&nbsp;помощью удобного и&nbsp;простого LED-дисплея;<br>—&nbsp;обо всех изменениях в&nbsp;работе прибора сообщает звуковая и&nbsp;световая индикация, менять режим работы можно с&nbsp;помощью пульта управления;<br>—&nbsp;даже небольшие по&nbsp;объему накопительные водонагреватели на&nbsp;50&nbsp;литров отлично справляются с&nbsp;поставленной задачей;<br>—&nbsp;оборудование Timberk характеризуется минимальными тепловыми потерями, ведь производителем особое внимание уделяется вопросам теплоизоляции материалов;<br>—&nbsp;накопительные водонагреватели на&nbsp;80&nbsp;литров изготавливаются из&nbsp;нержавеющей стали и&nbsp;экологически безопасного пластика.</p><p>Ознакомившись со&nbsp;всеми техническими данными, вами будет выбран лучший водонагреватель накопительный на&nbsp;50&nbsp;литров и&nbsp;большего объема. Теперь вы&nbsp;не&nbsp;будете ощущать дискомфорт в&nbsp;вопросе отсутствия горячей воды. Водонагреватель накопительный на&nbsp;80&nbsp;литров от&nbsp;компании Timberk&nbsp;— правильное решение!</p>' 
            } %}
        </main>



        {% include "../block/common/footer/footer.twig" with {
            prefix:"footer__",
        } %}
         
        {% include "../block/common/modals/include.twig" %}   
  
        {% include "../block/common/script/script.twig" with {
            view: "modal"
        }%}
        <script>
            $("[data-select]").select2({
                minimumResultsForSearch: -1,
                //dropdownCssClass: $(this).attr('data-drop-class'),
            });
        </script>
    </body>
</html> 
