<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
    <head>
        {% include "../block/common/head/head.twig" with {title:"Главная"}  %}
    </head>
    <body>

        {% include "../block/common/navbar/navbar.twig" with {
            prefix:"navbar__",
        } %} 
        <main class="{{prefix.section}}wrap">
            {# {% include "../block/page/index.twig" with {
                view:"slider", 
                content_prefix:prefix.section, 
                content_mod:"is--page-index-slider", 
                slider: [
                    {
                       img: [path.img,"/default/index-slider-item1.jpg "].join(""), 
                    },
                    {
                       img: [path.img,"/default/index-slider-item2.jpg "].join(""), 
                    },
                ] , 
            } %} #}
            {% include "../block/page/index.twig" with {
                view:"catalog", 
                content_prefix:prefix.section, 
                content_mod:"is--page-index-catalog",  
                content_group:"is--v1",  
                heading_group:"", 
                heading_attr:'',
                heading_mod:"is--h1  is--page-index-catalog  text-align--center", 
                heading_level:"h2", 
                heading:"Управление климатом",

                card_view: 'catalog-banner',
                card_mod: 'is--catalog-banner',
                card_list: [
                    {
                        "link":page.catalog_cat, 
                        "name":"Конвекторы", 
                        "img": [path.img,"/default/catalog-banner-item5.jpg"].join(""),
                        "color": '#fff',
                    }, 
                    {
                        "link":page.catalog_cat, 
                        "name":"Воздухоочистители", 
                        "img": [path.img,"/default/catalog-banner-item6.jpg"].join(""),
                    }, 
                    {
                        "link":page.catalog_cat, 
                        "name":"Сплит-системы", 
                        "img": [path.img,"/default/catalog-banner-item7.png"].join(""),
                    }, 
                    {
                        "link":page.catalog_cat, 
                        "name":"Водонагреватели", 
                        "img": [path.img,"/default/catalog-banner-item8.png"].join(""),
                    }, 
                ],   
            } %} 
            {% include "../block/page/index.twig" with {
                view:"new", 
                content_prefix:prefix.section, 
                content_mod:"is--page-index-new",  
                heading_group:"", 
                heading_attr:'',
                heading_mod:"is--h1  is--page-index-new  text-align--center", 
                heading_level:"h2", 
                heading:"Новинки и флагманы",

                card_view: 'catalog-card',
                card_mod: 'is--catalog-card  is--new',
                card_list: [                    
                    {
                        "link":page.catalog_card, 
                        "name":"Воздухоочиститель Steamy", 
                        "note":"Производительность 300 мл/ч", 
                        "img": [path.img,"/default/catalog-new-item1.png"].join(""),
                        "bg": [path.img,"/default/catalog-new-bg-item1.jpg"].join(""),
                    },                   
                    {
                        "link":page.catalog_card, 
                        "name":"Сплит-система<br> Natt", 
                        "note":"Технология IFEEL", 
                        "img": [path.img,"/default/catalog-new-item1.png"].join(""),
                        "bg": [path.img,"/default/catalog-new-bg-item1.jpg"].join(""),
                    },              
                    {
                        "link":page.catalog_card, 
                        "name":"Водонагреватель Modern", 
                        "note":"Система защиты 3L SPS", 
                        "img": [path.img,"/default/catalog-new-item1.png"].join(""),
                        "bg": [path.img,"/default/catalog-new-bg-item1.jpg"].join(""),
                        "label": "Флагман",
                        "label_color": "#942FD1",
                    },                   
                    {
                        "link":page.catalog_card, 
                        "name":"Водонагреватель Gra", 
                        "note":"Надежный медный ТЭН", 
                        "img": [path.img,"/default/catalog-new-item1.png"].join(""),
                        "bg": [path.img,"/default/catalog-new-bg-item1.jpg"].join(""),
                    },                   
                    {
                        "link":page.catalog_card, 
                        "name":"Сплит-система Natt", 
                        "note":"Технология IFEEL", 
                        "img": [path.img,"/default/catalog-new-item1.png"].join(""),
                        "bg": [path.img,"/default/catalog-new-bg-item1.jpg"].join(""),
                    },              
                    {
                        "link":page.catalog_card, 
                        "name":"Водонагреватель Modern", 
                        "note":"Система защиты 3L SPS", 
                        "img": [path.img,"/default/catalog-new-item1.png"].join(""),
                        "bg": [path.img,"/default/catalog-new-bg-item1.jpg"].join(""),
                        "label": "Новинка",
                        "label_color": "#DF707E",
                    },                   
                    {
                        "link":page.catalog_card, 
                        "name":"Водонагреватель Gra", 
                        "note":"Надежный медный ТЭН", 
                        "img": [path.img,"/default/catalog-new-item1.png"].join(""),
                        "bg": [path.img,"/default/catalog-new-bg-item1.jpg"].join(""),
                    },                   
                    {
                        "link":page.catalog_card, 
                        "name":"Сплит-система Natt", 
                        "note":"Технология IFEEL", 
                        "img": [path.img,"/default/catalog-new-item1.png"].join(""),
                        "bg": [path.img,"/default/catalog-new-bg-item1.jpg"].join(""),
                    },              
                    {
                        "link":page.catalog_card, 
                        "name":"Водонагреватель Modern", 
                        "note":"Система защиты 3L SPS", 
                        "img": [path.img,"/default/catalog-new-item1.png"].join(""),
                        "bg": [path.img,"/default/catalog-new-bg-item1.jpg"].join(""),
                    },                   
                    {
                        "link":page.catalog_card, 
                        "name":"Водонагреватель Gra", 
                        "note":"Надежный медный ТЭН", 
                        "img": [path.img,"/default/catalog-new-item1.png"].join(""),
                        "bg": [path.img,"/default/catalog-new-bg-item1.jpg"].join(""),
                    }, 
                ],   
            } %}
            {% include "../block/page/index.twig" with {
                view:"articles", 
                content_prefix:prefix.section, 
                content_mod:"is--block-articles",  
                heading_group:"", 
                heading_attr:'',
                heading_mod:"is--h1  is--block-articles  text-align--center", 
                heading_level:"h2", 
                heading:"Рекомендуем почитать",


                tabs_view:'base',
                tabs_prefix:prefix.tabs,
                tabs_mod:'',
                tabs_group:'',
                tabs_list:[
                    {
                        "id":"tabs-articles1",
                        "name":"Климат",
                        "status":"",
                        "text":"Климат",
                    },
                    {
                        "id":"tabs-articles2",
                        "name":"Очистка воздуха",
                        "status":"active",
                        "type":"card_slider",
                        "view":"articles",
                        "mod":"is--articles",
                        "list":[
                            {
                                "link":page.articles_card,
                                "group":'is--horizontal',
                                "name":"Edelweiss — профессиональная система очистки воздуха",
                                "note":"Высокоэффективные и эргономичные очистители воздуха с уникальной системой фильтров",
                                "img": [path.img,"/default/articles-item1.jpg "].join(""),
                            }
                        ] ,
                        "slider":[
                            {
                                "link":page.articles_card,
                                "name":"Edelweiss — профессиональная система очистки воздуха",
                                "note":"Высокоэффективные и эргономичные очистители воздуха с уникальной системой фильтров",
                                "img": [path.img,"/default/articles-item1.jpg "].join(""),
                            },
                            {
                                "link":page.articles_card,
                                "name":"Edelweiss — профессиональная система очистки воздуха",
                                "note":"Высокоэффективные и эргономичные очистители воздуха с уникальной системой фильтров",
                                "img": [path.img,"/default/articles-item1.jpg "].join(""),
                            },
                            {
                                "link":page.articles_card,
                                "name":"Edelweiss — профессиональная система очистки воздуха",
                                "note":"Высокоэффективные и эргономичные очистители воздуха с уникальной системой фильтров",
                                "img": [path.img,"/default/articles-item1.jpg "].join(""),
                            },
                            {
                                "link":page.articles_card,
                                "name":"Edelweiss — профессиональная система очистки воздуха",
                                "note":"Высокоэффективные и эргономичные очистители воздуха с уникальной системой фильтров",
                                "img": [path.img,"/default/articles-item1.jpg "].join(""),
                            },
                            {
                                "link":page.articles_card,
                                "name":"Edelweiss — профессиональная система очистки воздуха",
                                "note":"Высокоэффективные и эргономичные очистители воздуха с уникальной системой фильтров",
                                "img": [path.img,"/default/articles-item1.jpg "].join(""),
                            }
                        ] 
                    },
                    {
                        "id":"tabs-articles3",
                        "name":"Тепло",
                        "status":"",
                        "text":"Тепло",
                    },
                    {
                        "id":"tabs-articles4",
                        "name":"Нагрев воды",
                        "status":"",
                        "text":"Нагрев воды",
                    },
                ]  
            } %}
            {% include "../block/page/index.twig" with {
                view:"subs", 
                content_prefix:prefix.section, 
                content_mod:"is--block-subs",  
                heading_group:"", 
                heading_attr:'',
                heading_mod:"is--h1  is--block-subs  text-align--center", 
                heading_level:"h2", 
                heading:"Узнайте первым о новинках и акциях",
                form_view:"subs",
                form_mod:"is--block-subs",
                card_view: 'links',
                card_mod: 'is--links',
                card_list: [                    
                    {
                        "link":"#", 
                        "name":"Почему timberk", 
                        "icon": "icon-why",
                    },                    
                    {
                        "link":"#", 
                        "name":"Сервис", 
                        "icon": "icon-services",
                    },                    
                    {
                        "link":"#", 
                        "name":"Где купить", 
                        "icon": "icon-bay",
                    },   
                ],   
            } %}
        </main>
        {% include "../block/common/footer/footer.twig" with {
            prefix:"footer__",
        } %}
         
        {% include "../block/common/modals/include.twig" %}   
  
        {% include "../block/common/script/script.twig" with {
            view: "modal"
        }%}
    </body>
</html> 
