.card__{
	&item{
		&.is--index-slider{
			position: relative;
			height: 548px;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			.card__preview{
				opacity: 0;
				transform: translateY(20px);
				transition: 0.35s @card_anim;
				transition-delay: 20ms;
			}
			.card__btn{
				opacity: 0;
				transform: translateX(-20px);
				transition: 0.35s @card_anim;
				transition-delay: 30ms;
			}
			.card__desc > *{
				opacity: 0;
				transition: 0.35s @card_anim;
				transition-delay: 10ms;
				transform: translateY(-50px);
			}
			&[aria-hidden="false"]{
				.card__preview{
					opacity: 1;
					transform: translateY(0px);
					transition-delay: 400ms;
				}
				.card__btn{
					opacity: 1;
					transform: translateX(0px);
					transition-delay: 600ms;
				}
				.card__desc > *{
					opacity: 1;
					transform: translateY(0px);
					transition-delay: 500ms;
				}
			}
		}
		&.is--catalog{
			&-banner{
				display: flex;
				position: relative;
				overflow: hidden;
				border-radius: @site_br*2;
				background-color: @info;
				&:hover{
					box-shadow: @site_shadow;
				}
			}
			&-cat{
				position: relative;
				z-index: 1;
				display: flex;
				background-color: @info;
				border-radius: @site_br*2;
				transition: @trs-site;
				padding: 30px 15px 30px 32px;
				height: 100%;
				&:hover{
					box-shadow: @site_shadow;
				}
			}
			&-card{
				padding-top: 20px;
				height: 386px;
				display: block;
				position: relative;
				z-index: 1;
				overflow: hidden;
				border-radius: @site_br*2;
				background-color: @info;
				transition: @trs-site;
				&::after{
					content: '';
					position: absolute;
					z-index: -1;
					opacity: 0;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 208px;						
					background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
					transition: 0.35s @card_anim;
				}
				&.is--new{
					max-width: 208px;
					&::after{
						opacity: 1;
					}
				}
				.card__heading{
					transition-delay: 60ms;
					transition: 375ms @card_anim;
				}					
				.card__note{
					transition-delay: 50ms;
					transition: 375ms @card_anim;
				}					
				.card__group{					
					.btn__item{
						transition-delay: 25ms;
						transition: 375ms @card_anim;
						opacity: 0;
					}
				}
				&:hover{
					box-shadow: @site_shadow;
					&::after{
						opacity: 1;
					}
					.card__bg{
						opacity: 1;
					}
					.card__heading{
						transition: all 0.35s, transform 500ms @card_anim;
						transition-delay: 0;
						color: @white;
					    transform: translate(0px, -30px);
					}					
					.card__note{
						transition:all 0.35s, 500ms @card_anim;
						transition-delay: 100ms;
					    transform: translate(0px, -25px);
						color: @white;
					}	
					.card__group{
						.btn__item{
					   		transform: translate(0px, -20px);	
							transition: 500ms @card_anim;
							transition-delay: 250ms;
							opacity: 1;
						}
					}	

					.card__heading.is--new{
					    transform: translate(0px, -25px);
					}				
					.card__note.is--new{
					    transform: translate(0px, -25px);
					}	
					.card__group.is--new{
						.btn__item{
					   		transform: translate(0px, -25px);
						}
					}
				}
			}
			&-nav{
    			margin-bottom: 22px;
			}
			&-item-slider{
				position: relative;
				.card__heading{
					opacity: 0;
					transform: translateY(20px);
					transition: 0.35s @card_anim;
					transition-delay: 30ms;
				}
				&[aria-hidden="false"]{
					.card__heading{
						opacity: 1;
						transform: translateY(0px);
						transition-delay: 400ms;
					}
				}
			}
			&-slider-nav{
				margin: 5px 0;
				width: 88px;
				height: 88px;
				border: 1px solid fadeout(@success2, 100%);
				border-radius: @site_br;
				transition: @trs-site;
				&.slick-current{
					transition-delay: 0.3s;
					border-color: fadeout(@success2, 20%);
				}
			}
		}
		&.is--articles{
			&.is--horizontal{
				display: block;
				margin-bottom: 20px;
				.media-breakpoint-up(@md; {					
					display: flex;
					margin-bottom: 55px;
					& > *{
						flex: 1 1 50%;
					}
				});
			}
		}
		&.is--links{
			background: @info;
			border-radius: @site_br*2;
			color: @success;
			text-align: center;
			padding: 25px;
    		height: 100%;
    		transition: @trs-site;
    		&:hover{
    			box-shadow: @site_shadow;
    		}
		}
		&.is--block-banner{
			display: block;
    		margin-bottom: 30px;
    		.media-breakpoint-up(@md; {
    			margin-bottom: 50px;
    		});
		}
		&.is--aside-link{
			background-color: @info;
			padding-bottom: 15px;
		}
	}
	&row{
		&.is--catalog{			
			&-item-desc{
				.media-breakpoint-up(@xl; {
					margin-left: -27px;
					margin-right: -27px;
					& > *{
						padding-left: 27px!important;
						padding-right: 27px!important;
					}
				});
			}
		}
	}
	&wrap{
	}
	&label{		
		padding: 6px 14px;
		border-radius: @site_br;
		color: @white;
		font-size: 0.889rem;
		line-height: 100%;
		&.is--catalog{
			&-card{
				position: absolute;
				z-index: 2;
				top: 16px;
				left: 20px;
				.heading7();
				padding: 5px 10px;
			}
			&-item{
				position: absolute;
				z-index: 2;
				top: 0;
				right: 0;
			}
		}
	}
	&confirm{		
		&.is--catalog{
			&-item{
				display: flex;
				align-items: center;
				color: @danger;
				.heading6();
				line-height: 200%;
				svg{
					min-width: 25px;
					width: 25px;
					height: 23px;
					margin-right: 7px;
				}
			}
		}
	}
	&compare{		
		&{
			&.dropdown{
				position: static;
			}
		}		
		&-btn{
			z-index: 2;
			.btn-clearfix(); 
			cursor: pointer;
			width: 32px;
			height: 29px;
			position: absolute;
			top: 12px;
			//top: -8px;
			right: 10px;
			color: @black;
			transition: @trs-site;
			&[aria-expanded="true"]{
				color: @primary;
			}
			&::after{
				display: none;
			}
		}
		&-menu{
			transform: translate(0)!important;
			z-index: 1;
			top: 8px!important;
			left: 8px!important;
			right: 8px!important;
			border: 0;
			background: @white;
			box-shadow: @site_shadow;
			border-radius: @site_br;
			padding: 12px;
			.btn__item{
				width: 100%;
				box-shadow: 0px 1px 3px rgba(0, 170, 135, 0.3);
			}
		}
		&-form{
			margin-bottom: 10px;
			.select2-container{
				width: 100%!important;
				.heading7();
				.select2-selection--single{
					height: 36px;
				}
			}
			.select2-container--default{
				.select2-selection--single{
					.select2-selection__rendered{
						line-height: 36px;
					}
					.select2-selection__arrow {
						width: 30px;
						height: 36px;
					}
				} 
			}
		}
		&-drop{
			.select2-results__options{
				.heading7();
			}			
		}
		&-title{
			.heading7();
			margin-bottom: 12px;
		}
		&-select{
			margin-bottom: 12px;
		}
		&-link{
			.heading7();
			font-size: 0.833rem;
			line-height: 160%;
			display: block;
			color: @success2;
			text-align: center;
			letter-spacing: 0.107143px;
			&:hover{
				color: @primary;
			}
		}
	}
	&color{
		&-group{
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			.text16();
			color: @black;
			&.is--catalog-item{
				position: absolute;
				z-index: 2;
				top: 2px;
				left: 0;
			}
		}
		&-name{
			margin-right: 12px;
		}
		&-btn{
			.btn-clearfix();
			border: 2px solid; 
			border-radius: 50%;
			min-width: 24px;
			width: 24px;
			height: 24px;
			margin-right: 8px;
			cursor: pointer;
			&[style^="background-color: #fff"]{
				border-color: @primary!important;				
			}
			&:hover{
				border-color: @primary!important;
			}

		}
	}
	&group{
		&.is--catalog{
			&-card{
				transition: @trs-site;
				padding: 0 20px;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				&.is--new{
					padding: 0 20px; 
					bottom: -15px;
				}
				.btn__item{
					width: 100%;
				}
			}
			&-slider-nav{
				position: absolute;
				z-index: 5;
				width: 88px;
				left: 0;
				top: 0;
				display: flex; 
				flex-direction: column;
				align-items: center;
				justify-content: flex-start;
				.icon__item{
					margin-bottom: 18px;
					&:last-child{
						margin-bottom: 0;
					}
				}
			}
			&-item{
				position: relative;
			}
		}
		&.is--articles{
			.is--horizontal &{
				.media-breakpoint-up(@md; {
					padding-left: 60px;
					padding-bottom: 25px;
					align-self: center;
				});
			}
		}
	}
	&preview{
		display: block;
		&-wrap{
			&.is--index-slider{
				position: absolute;
				z-index: 3;
				left: 0;
				right: 0;
				bottom: 0;
				padding: 0 15px;
				.media-breakpoint-up(@md; {
					padding: 0 40px;
					max-width: 1120px;
					margin: 0 auto;
				});
			}
		}
		&.is--index-slider{
			margin-left: auto;
			width: 200px;
			height: 450px;
			.media-breakpoint-up(@md; {
				width: 360px;
				height: 360px;
			});
			.media-breakpoint-up(@xl; {
				width: 530px;
				height: 455px;
			});
			img{
				object-position: center;
				object-fit: contain;
				width: 100%;
				height: 100%;
			}
		}
		&.is--catalog{
			&-banner{
				width: 100%;
				height: 100%;
				img{
					width: 100%;
					height: 100%;
					object-position: center;
					object-fit: cover;
				}
			}
			&-cat{
				position: absolute;
				z-index: -1;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0.7;
				img{
					width: 100%;
					height: 100%;
					object-position: center;
					object-fit: cover;
				}
				.media-breakpoint-up(@md; {
					opacity: 1;
				});
			}
			&-card{
				&.is--new{
					height: 260px;
					margin-bottom: 10px;
				}
				img{
					width: 100%;
					height: 100%;
					object-position: center;
					object-fit: contain;
				}
			}
			&-slider{
				img{
					max-height: 578px;
				}
			}
		}
		&.is--articles{
			border-radius: @site_br*2;
			overflow: hidden;
			height: 239px;
			margin-bottom: 25px;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
			.media-breakpoint-up(@md; {
				.is--horizontal &{
					max-width: 600px;	
					height: 346px;
					margin-bottom: 0;
				}
				.is--lg &{
					max-width: 600px;	
					height: 340px;
				}
			});			
		}
		&.is--links{
			width: 36px;
			height: 36px;
			margin: 0 auto 18px;
			color: #636569;
		}
	}
	&bg{
		&.is--index-slider{
			display: none;
			.media-breakpoint-up(@md; {
				display: block;
				position: absolute;
				z-index: 2;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				background-repeat: no-repeat;
				background-position: 35% center;
			});
			.media-breakpoint-up(@xl; {
				background-position: center;
			});
		}		
		&.is--catalog{
			&-card{
				opacity: 0;
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				z-index: -2;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				filter: blur(4px);
				//transition: @trs-site;
				transition: 0.35s @card_anim;
				&.is--new{
					opacity: 1;
				}
			}
		}
	}
	&heading{
		&.is--catalog{
			&-banner{
				position: absolute;
				top: 15px;
				left: 15px;
				color: @default;
				.heading5();
				.media-breakpoint-up(@md; {
					top: 30px;
					left: 30px;
				});
			}
			&-card{
				.heading6();
				font-weight: 700;
				&.is--new{
					min-height: initial;
					color: @white;
					padding: 0 4px 4px;
				}
			}
			&-item{
				.text16();
				color: @black;
				margin-bottom: 10px;
			}
			&-item-slider{
				position: absolute;
				bottom: 0;
				left: 0;
				color: @white;
				font-size: 2.778rem;
				line-height: 100%;
				text-transform: uppercase;
				padding: 20px 30px;
			}
			&-item-desc{
				margin-bottom: 17px;
			}
		}
		&.is--articles{
			.heading5();
			color: @default;
			margin-bottom: 10px;
			.media-breakpoint-up(@md; {
				.is--horizontal &{
					.heading3();
					margin-bottom: 20px;
				}
				.is--lg &{
					.heading3();
					margin-bottom: 10px;
				}
			});				
		}
		&.is--links{
			font-weight: 400;
			.text16(); 
		}
	}
	&note{
		&.is--catalog{
			&-card{
				.heading7();
				font-weight: 700;
				&.is--new{
					padding: 0 4px 10px;
					color: @white;
				}
			}
			&-item{
				.text16();
				max-width: 400px;
				line-height: 175%;
				margin-bottom: 60px;
			}
			&-item-note{
				margin-bottom: 34px;
				&:last-child{
					margin-bottom: 0;
				}
				h3{
					margin-bottom: 16px;
				}
				ul{
					color: @success2;
					margin: 0;
					padding: 0;
					li{
						margin-left: 20px;
						margin-bottom: 1px;
					}
				}
			}
			&-item-desc{
				color: @success2;
				font-size: 0.833rem;
				line-height: 147%;
				p, div{
					margin-bottom: 22px;
					&:last-child{
						margin-bottom: 0;
					}
				}
			}
		}
		&.is--articles{
			.text16();
			color: #636569;
			.media-breakpoint-up(@md; {
				.is--horizontal &{
					.text();
				}
				.is--lg &{
					.text();
				}
			});				
		}	
	}
	&nav{
		&{
			list-style: none;
			margin: 0;
			padding: 0;	
		}
		&-item{
			&.is--catalog{
				&-nav{
					.heading6();
					margin-bottom: 8px;
					margin-left: 15px;
					&:last-child{
						margin-bottom: 0;
					}
					&.is--title{
						text-transform: uppercase;
    					font-size: 0.778rem;
    					line-height: 200%;
    					font-weight: 700;
    					color: @black;
						margin-left: 0;
					}
				}				
				&-cat{					
					font-size: .889rem;
					line-height: 105%;
					margin-bottom: 12px;
					&.is--title{
						.heading5();
						margin-bottom: 35px;
					}
				}
			}
			&.is--aside-link{
				padding: 0px 15px 0px;
				.heading6();
				margin-bottom: 8px;
				&:last-child{
					margin-bottom: 0;
				}
				&.is--title{
					font-weight: 700;
					padding: 23px 15px 20px;
					background-color: @primary;
					color: @white;
					text-transform: uppercase;
					margin-bottom: 12px;
				}
				.media-breakpoint-up(@xl; {
					padding-left: 55px;
					&.is--title{
						padding-left: 55px;
					}
				});
			}
		}
		&-link{
			&.is--catalog{
				&-nav{
					display: inline-block;
					color: @success2;
					&:hover{
						color: @primary;
					}
				}				
				&-cat{
					display: block;
					color: @default;
					&:hover{
						color: @primary;
					}
				}
			}
			&.is--aside-link{				
				display: inline-block;
				color: @success2;
				&:hover{
					color: @primary;
				}
			}
		}
	}
	&btn{
		&.is--index-slider{
			position: absolute;
			z-index: 4;
			bottom: 107px;
    		padding: 0 15px;
    		left: 0;
    		right: 0;
    		margin: 0 auto;	
    		.media-breakpoint-up(@md; {
	    		padding: 0 40px;
				max-width: 1120px;
    		});	
		}
		&.is--catalog{
			&-item{
				display: flex;
				&.is--soc{					
					margin-left: -7px;
					margin-right: -7px;
					margin-bottom: 37px;
					&>*{
						margin: 3px 7px ;
					}
				}
				&.is--bay{					
					margin-left: -12px;
					margin-right: -12px;
					margin-bottom: 43px;
					&>*{
						margin: 3px 12px;
					}
				}
			}
		}	
	}
	&desc{	
		&.is--index-slider{
			position: absolute;
			z-index: 4;
			.heading7();
			top: 0;
			left: 0;
			right: 0;
			text-transform: uppercase;
			padding: 10px;
			display: flex;
			flex-wrap: wrap;
			max-width: 1120px;
			margin: 0 auto;
			background-color: fadeout(@info, 0%);
			& > *{
				flex: 1 1 100%;
				padding: 5px;
			}
			.media-breakpoint-up(@md; {
				.text();
				b{
					font-weight: 700;
					font-size: 1.11rem;
					line-height: 130%;   					
				}
				padding: 20px;
				flex-wrap: nowrap;
				background-color: fadeout(@info, 100%);
				& > *{
					flex: 1 1 100%;
					padding: 0;
					&:nth-child(1){
						flex: 1 1 42%;
						padding-right: 80px;
					}
					&:nth-child(2){
						flex: 1 1 29%;
						padding-left: 15px;
						padding-right: 15px;
					}
					&:nth-child(3){
						flex: 1 1 29%;
						padding-left: 15px;
					}
				}
			});
			.media-breakpoint-up(@xl; {
				padding: 40px;
				& > *{
					flex: 1 1 auto!important;
					&:nth-child(1){
						max-width: 353px;
						padding-right: 80px;
					}
					&:nth-child(2){
						padding-left: 65px;
						padding-right: 30px;
					}
					&:nth-child(3){
						padding-left: 30px;
					}
				}
			});
		}
		&.is--catalog{
			&-item{
				.text16(); 
				max-width: 457px;
				& > div{
					display: flex;
					margin-bottom: 4px;
					&:last-child{
						margin-bottom: 0;
					}
					& > dt{
						order: -1;
					}
					&::before{
						content: '';
						order: 1;
						flex: 1 1 auto;
						background-color: @danger;
						height: 1px;
						align-self: flex-end;
						margin: 0 6px 6px;
						min-width: 20px;

					}
					& > dd{
						order: 2;
						font-weight: 700;
						margin-bottom: 0;
					}
				}
			}
		}
	}
}