.modal__ {
	&block{
		display: none;
		overflow: hidden;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1050;
		-webkit-overflow-scrolling: touch;
		outline: 0;		
		.modal-open &{
			overflow-x: hidden;
			overflow-y: auto;
			.media-breakpoint-up(@md; {
				overflow-y: hidden;
			});
		}	
		& > *{
			box-sizing: border-box;
		}	
		/*&#modal-360{
			display: block;
			opacity: 1;
			background: @black;

		}*/
	}
	&dialog {
		transition: all 0.5s;
		position: relative;
		width: auto;	
		margin: 0px auto;
		max-width: @modal_width;
		top: 50%;
		transform: translate(0 ,-50%) !important;
		left: -100%;
		.modal__block.show &{
			left: 0;
		}
		.media-breakpoint-down(@md; {
			height: 100%;
		});
		.media-breakpoint-up(@md; {	
			background-color: @modal_bg;
			max-height: ~"calc(100% - 20px)";	
			left: inherit;	
			overflow: auto;		
			.modal__block.show &{
				left: inherit;
			}
		});
		&.is--modal-sale{
			max-width: 600px;
		}
		&.is--modal-shop{
			max-width: 450px;
			.media-breakpoint-up(@lg; {
				max-width: 800px;
			});
		}
		/*#modal-360 &{
			top: 0;
			left: 0;
			transform: translateY(0);
		}*/
	}
	&preview {
		img{
			display: block;
			max-width: 100%;
		}
	}
	&body {
		position: relative;		
		padding: 20px;
		background-color: @modal_bg;
		.media-breakpoint-up(@lg; {			
			padding: 60px 80px;
		});
		&.is--modal-sale{
			padding: 0px;
			background: none;
		}
	}
	&content{
		background-color: @modal_bg;
		&.is--modal-sale{
			padding: 20px 15px 30px;
		}
	}
	&btn-close{
		.btn-clearfix();
		cursor: pointer;
	    position: absolute;
	    z-index: 5; 
		.icon-close();
		background-position: center;
		width: 32px;
		height: 32px;
		top: 5px;
		right: 5px;
		&:hover{
			.icon-close(@c:"3CB6A8");			
		}
		.media-breakpoint-up(@lg; {
			top: 32px;
			right: 32px;
		});
		&.is--modal-sale{
			top: 5px;
			right: 5px;
			.icon-close(@c:"fff");
		   	transition: @trs-site; 
		   	&:hover{
		   		background-color: @white;
				.icon-close(@c:"00afab");
		   	}
	   	}
	}
	&heading{
		&.is--modal-sale{
	   	 	font-family: 'RoadRadio';
			font-size: 17px;
			line-height: 17px;
			color: #00afab;
			text-align: center;
			margin-bottom: 20px;
		}
		&.is--modal-shop{
	   	 	font-family: 'RoadRadio';
			.heading3();
			color: #00afab;
			text-align: center;
			margin-bottom: 20px;
		}
	}
}
/*
.modal-open { 
	overflow: hidden; 
} 
.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: -1px;
	left: 0;
	z-index: 940;
	background-color: @modal_backdrop;
	transition: opacity .15s linear;
	&.fade { 
		opacity: 0;
	}
	&.in {
		opacity: @modal_backdrop_fade;
	}
}
*/