.section__{
	&wrap{
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		width: 100%;
		min-height: 100%;
	}
	&content{
		//overflow: hidden;
		min-height: 100%;
	    display: flex; 
	    flex-direction: column;
	    flex: 1 1 auto;
	}
	&container{
		position: relative;
		flex: 1 1 100%;
		&.is--page{
			&-default{
				padding-top: 25px;
				padding-bottom: 25px;
			}
			&-index{
				&-slider{
					max-width: 1470px;
					margin-bottom: 25px;
				}
				&-catalog{
					padding-top: 20px;
					padding-bottom: 20px;
				}
				&-new{
					padding-top: 30px;
					padding-bottom: 30px;
				}
			}
		}
		&.is--block{
			&-articles{
				padding-top: 25px;
				padding-bottom: 25px;
			}
			&-subs{
				padding-top: 30px;	
				padding-bottom: 30px;	
			}
			&-seo{
				padding-top: 30px;
				padding-bottom: 30px;
			}
		}
		.media-breakpoint-up(@lg; {
			&.is--page{
				&-index{
					&-catalog{
						padding-top: 65px;
						padding-bottom: 65px;
					}
					&-new{
						padding-top: 15px;
						padding-bottom: 40px;
					}
				}
			}
			&.is--block{
				&-subs{
					padding-top: 70px;
					padding-bottom: 70px;					
				}
			}
		});
	}
	&section{
		&.is--page{
			&-index{
				&-catalog{
					padding-top: 30px;
					padding-bottom: 20px;
				}
				&-new{
					padding-top: 30px;
					padding-bottom: 30px;
				}
			}
			&-catalog{
				&-cat{
					margin-bottom: 20px;
				}
			}
			&-contacts{
				padding-bottom: 30px;
			}
			&-contacts-form{
				padding-top: 25px;
				padding-bottom: 10px;
			}
		}
		&.is--block{
			&-subs{
				padding-top: 40px;	
				padding-bottom: 30px;	
			}
			&-seo{
				padding-top: 30px;
				padding-bottom: 30px;
			}
		}
		.media-breakpoint-up(@lg; {
			&.is--page{
				&-index{
					&-catalog{
						padding-top: 65px;
						padding-bottom: 40px;
					}
					&-new{
						padding-top: 40px;
						padding-bottom: 65px;
					}
				}
			}
			&.is--block{
				&-subs{
					padding-top: 95px;
					padding-bottom: 60px;					
				}
				&-seo{
					padding-top: 52px;
				}
			}
		});			
	}
	&inner{
		&.is--block{
			&-articles{
				background-color: @info;
				padding: 40px 15px;
				.media-breakpoint-up(@lg; {
					border-radius: @site_br*2;
					padding: 40px 55px 45px;
				});
			}
			&-catalog{
				margin-top: 10px;
				background-color: @info;
				padding: 40px 15px;
				margin-left: -@container_gap;
				margin-right: -@container_gap;
				.media-breakpoint-up(@lg; {
					border-radius: @site_br*2;
					padding: 40px 60px 65px 70px;
				});
				@media print {
					.page-header__heading.is--block-articles{
						display: none;
					}
					.tabs__panel{
						display: none;
					}
					.tab-pane{
						display: block!important;
					}
				}
			}
		}
	}
	&grid{
		&.is--page{
			&-index{
				&-catalog{
					grid-gap: 25px;
					.media-breakpoint-up(@sm; {
						grid-template-columns: 0.9fr 1.1fr;
						&.is--v1{
							& > *{
								&:nth-child(1){
									grid-column: span 2;
								}
								&:nth-child(2){
									grid-row: span 2;
								} 
							}
						}
						&.is--v2{
							& > *{
								&:nth-child(1){
									grid-row: span 2;
								}
								&:nth-child(4){
									grid-column: span 2;
								} 
							}
						}
					});
					.media-breakpoint-up(@xl; {
						//grid-template-columns: .77fr 1.04fr 1.1fr;
						&.is--v1{
							grid-template-columns: 1.1fr 1.04fr .77fr ;
						}
						&.is--v2{
							grid-template-columns: .77fr 1.04fr 1.1fr;
						}
					});
				}
			}
			&-catalog{
				grid-gap: 24px;
				.media-breakpoint-down(@sm; {
					& > *{
						min-height: 320px;
						&:nth-child(1){
							min-height: 400px;
							img{
								object-fit: contain;
								object-position: bottom right;
							}
						}
						&:nth-child(2){
							img{
								object-fit: contain;
								object-position: bottom left;
							}
						}
					}
				});
				.media-breakpoint-up(@sm; {
					grid-template-columns: repeat(2, 1fr);
					& > *{
						&:nth-child(1){
							grid-column: span 2;
							min-height: 320px;
							img{
								object-position: center left;
							}
						}
						&:nth-child(2){
							grid-row: span 2;
						}
						&:nth-child(4){
							min-height: 320px;
						}
					}
				});
				.media-breakpoint-up(@md; {
					grid-template-columns: repeat(12, 1fr);
					& > *{
						&:nth-child(1){
							grid-column: span 12;
							img{
								object-position: center left;
							}
						}
						&:nth-child(2){
							grid-column: span 5;
							grid-row: span 2;
						}
						&:nth-child(3){
							grid-column: span 7;
						}
						&:nth-child(4){
							grid-column: span 7;
						}
						&:nth-child(5){
							grid-column: span 6;
						}
						&:nth-child(6){
							grid-column: span 6;
						}
					}
				});
				.media-breakpoint-up(@lg; {
					grid-template-columns: repeat(30, 1fr);
					& > *{
						&:nth-child(1){
							grid-column: span 30;
							min-height: 398px;
						}
						&:nth-child(2){
							grid-column: span 9;
						}
						&:nth-child(3){
							grid-column: span 12;
							min-height: 402px;
						}
						&:nth-child(4){
							grid-column: span 9;
							.card__nav{
								max-width: 200px;
							}
						}
						&:nth-child(5){
							grid-column: span 10;
							min-height: 246px;
							.card__nav{
								max-width: 270px;
							}
						}
						&:nth-child(6){
							grid-column: span 11;
						}
					}
				});
				.media-breakpoint-up(@xl; {
					& > *{
						&:nth-child(1){
							img{
								object-position: center;
							}
						}
						&:nth-child(2){
							grid-column: span 8;
						}
						&:nth-child(3){
							grid-column: span 14;
						}
						&:nth-child(4){
							grid-column: span 8;
						}
						&:nth-child(5){
							grid-column: span 11;
						}
						&:nth-child(6){
							grid-column: span 11;
						}
					}
				});
			}
			&-catalog-cat{
				grid-gap: 20px;
				& > *{
					&:nth-child(1){
						& > *{
							margin-bottom: 40px;
							&:last-child{
								margin-bottom: 0;
							}
						}
					}
				}		
				.media-breakpoint-down(@xl; {
					& > *{
						&:nth-child(1){
							grid-row: 3;
						}
						&:nth-child(3){
							grid-row: 1;
						}
					}	
				});	
				.media-breakpoint-down(@md; {
					& > *{
						&:nth-child(3){
							.btn__item{
								width: 100%;
							}
						}
					}
				});	
				.media-breakpoint-up(@xl; {
					grid-template-columns: 3.45fr 8.55fr;
					margin-left: -55px;
					& > *{
						&:nth-child(3){
							display: none;
						}
					}
				});
			}
			&-catalog-card{
				grid-template-columns: 100%;
				padding-bottom: 25px;
				& > *{
					&:nth-child(1){
						position: relative;
					}
				}
				.media-breakpoint-down(@lg; {
					& > *{
						&:nth-child(1){
							grid-row: 2;
						}
						&:nth-child(2){
							grid-row: 1;
						}
					}
				});
				.media-breakpoint-up(@lg; {
					grid-template-columns: minmax(0,1.03fr) .97fr;
					grid-gap: 54px;
					padding-top: 30px;
					& > *{
						&:nth-child(1){
							padding-left: 120px;
						}
					}
				});
				.media-breakpoint-up(@xl; {
					& > *{
						&:nth-child(1){
							margin-left: -42px;
							padding-left: 120px;
						}
					}
				});
				@media print {
					//page-break-after: always;
					grid-template-columns: minmax(0,1fr) 1fr;
					& > *{
						&:nth-child(1){
							grid-row: initial;
						}
						&:nth-child(2){
							grid-row: initial;
						}
					}
				}
			}
			&-contacts{
				.media-breakpoint-up(@sm; {
					grid-gap: 26px;
					grid-template-columns: 1.3fr 0.7fr;
					& > .is--full{
						grid-column: span 2;
						text-align: center;
					}
				});
				.media-breakpoint-up(@lg; {
					grid-gap: 60px 26px;
					grid-template-columns: 1.485fr 0.515fr;
				}); 
			}
		}
		&.is--block{
			&-subs{
				max-width: 720px;
				margin: 0 auto;
				grid-template-columns: 100%;
				.media-breakpoint-up(@sm; {
					grid-template-columns: repeat(3, 1fr);
				});
			}
			&-catalog{
				&-note{
					grid-template-columns: 100%;
					.media-breakpoint-up(@md; {
						grid-gap: 44px 30px;
						grid-template-columns: minmax(0,1.02fr) minmax(0,.98fr);
						& > *{
							&.is--full{
								grid-column: span 2;
							}
							&.is--articles{
								padding-top: 12px;
							}
						}
					});
					.media-breakpoint-up(@lg; {
						grid-gap: 44px 54px;
					});
					@media print {
						& > *{
							&.is--slider,
							&.is--download,
							&.is--articles{
								display: none;
							}
						}			
					}					
				}
			}
		}
	}
	&row{
		&.is--page{
			&-catalog-cat{
				margin-left: -14px;
				margin-right: -14px;
				& > *{
					padding-left: 14px;
					padding-right: 14px;
					padding-bottom: 33px;
				}
			}
		}
	}
	&slick{
		&{}
		&-slide{}
	}
	&aside{
		background-color: @info;
		padding: 24px;
		.media-breakpoint-down(@xl; {
			position: fixed;
			width: 100%;
			max-width: 400px;
			top: 0;
			left: 0; 
			bottom: 0;
			z-index: 900;
			overflow: auto;
			margin-bottom: 0!important;
			padding-right: 50px;
			transition: @trs-site;
			transform: translateX(-100%);
			&.is--show{
				transform: translateX(0%);
			}
			[data-filter-close]{
				position: absolute;
				top: 10px;
				right: 10px;
				width: 16px;
				height: 16px;
			}
		});
		.media-breakpoint-up(@xl; {
			padding-left: 55px;
			[data-filter-close]{
				display: none;
			}
		});
	}
	&card{
	}
	&text{
		&.is--block{
			&-seo{
				color: @success;
				//.heading7();
				font-size: 14px;
				line-height: 14px;
				p,div{
					margin-bottom: 25px;
				}
				h2, h3, h4, h5{
					.text16();
					margin-bottom: 15px;
				}
			}
		}
	}
	&img{
	}
	&hr{
	}
	&btn{
	}
}