.section__{
	&wrap{
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		width: 100%;
		min-height: 100%;
	}
	&content{
		//overflow: hidden;
		min-height: 100%;
	    display: flex; 
	    flex-direction: column;
	    flex: 1 1 auto;
	}
	&container{
		position: relative;
		flex: 1 1 100%;
		&.is--page{
			&-default{
				padding-top: 23px;
			}
			&-index{
				&-catalog{
					padding-top: 40px;
					padding-bottom: 40px;
				}
				&-new{
					padding-top: 40px;
					padding-bottom: 40px;
				}
			}
			&-catalog{
				&-cat{
					padding-top: 23px;
					padding-bottom: 30px;
				}
			}
		}
		&.is--block{
			&-subs{
				padding-top: 30px;
				padding-bottom: 30px;
			}
			&-seo{
				padding-top: 30px;
				padding-bottom: 30px;
			}
		}
		.media-breakpoint-up(@lg; {			
			&.is--page{
				&-index{
					&-catalog{
						padding-top: 92px;
						padding-bottom: 46px;
					}
					&-new{
						padding-top: 46px;
						padding-bottom: 66px;
					}
				}
				&-catalog{
					&-cat{
						padding-bottom: 55px;
					}
				}
			}
			&.is--block{
				&-subs{
					padding-top: 95px;
					padding-bottom: 95px;
				}
				&-seo{
					padding-top: 52px;
					padding-bottom: 30px;
					padding-left: 30px;
					padding-right: 30px;
				}
			}
		});
	}
	&bg{
	}
	&inner{
		&.is--block{
			&-articles{
				background-color: @info;
				padding: 40px 15px;
				margin-left: -@container_gap;
				margin-right: -@container_gap;
				.media-breakpoint-up(@lg; {
					border-radius: @site_br*2;
					padding: 40px 55px 45px;
				});
			}
		}
	}
	&section{
	}
	&grid{
		&.is--page{
			&-index{
				&-catalog{
					grid-gap: 25px;
					.media-breakpoint-up(@sm; {
						grid-template-columns: 0.9fr 1.1fr;
						&.is--v1{
							& > *{
								&:nth-child(1){
									grid-column: span 2;
								}
								&:nth-child(2){
									grid-row: span 2;
								} 
							}
						}
						&.is--v2{
							& > *{
								&:nth-child(1){
									grid-row: span 2;
								}
								&:nth-child(4){
									grid-column: span 2;
								} 
							}
						}
					});
					.media-breakpoint-up(@xl; {
						//grid-template-columns: .77fr 1.04fr 1.1fr;
						&.is--v1{
							grid-template-columns: 1.1fr 1.04fr .77fr ;
						}
						&.is--v2{
							grid-template-columns: .77fr 1.04fr 1.1fr;
						}
					});
				}
			}
			&-catalog{
				grid-gap: 24px;
				.media-breakpoint-down(@sm; {
					& > *{
						min-height: 320px;
						&:nth-child(1){
							min-height: 400px;
							img{
								object-fit: contain;
								object-position: bottom right;
							}
						}
						&:nth-child(2){
							img{
								object-fit: contain;
								object-position: bottom left;
							}
						}
					}
				});
				.media-breakpoint-up(@sm; {
					grid-template-columns: repeat(2, 1fr);
					& > *{
						&:nth-child(1){
							grid-column: span 2;
							min-height: 320px;
							img{
								object-position: center left;
							}
						}
						&:nth-child(2){
							grid-row: span 2;
						}
						&:nth-child(4){
							min-height: 320px;
						}
					}
				});
				.media-breakpoint-up(@md; {
					grid-template-columns: repeat(12, 1fr);
					& > *{
						&:nth-child(1){
							grid-column: span 12;
							img{
								object-position: center left;
							}
						}
						&:nth-child(2){
							grid-column: span 5;
							grid-row: span 2;
						}
						&:nth-child(3){
							grid-column: span 7;
						}
						&:nth-child(4){
							grid-column: span 7;
						}
						&:nth-child(5){
							grid-column: span 6;
						}
						&:nth-child(6){
							grid-column: span 6;
						}
					}
				});
				.media-breakpoint-up(@lg; {
					grid-template-columns: repeat(30, 1fr);
					& > *{
						&:nth-child(1){
							grid-column: span 30;
							min-height: 398px;
						}
						&:nth-child(2){
							grid-column: span 9;
						}
						&:nth-child(3){
							grid-column: span 12;
							min-height: 402px;
						}
						&:nth-child(4){
							grid-column: span 9;
							.card__nav{
								max-width: 200px;
							}
						}
						&:nth-child(5){
							grid-column: span 10;
							min-height: 246px;
							.card__nav{
								max-width: 270px;
							}
						}
						&:nth-child(6){
							grid-column: span 11;
						}
					}
				});
				.media-breakpoint-up(@xl; {
					& > *{
						&:nth-child(1){
							img{
								object-position: center;
							}
						}
						&:nth-child(2){
							grid-column: span 8;
						}
						&:nth-child(3){
							grid-column: span 14;
						}
						&:nth-child(4){
							grid-column: span 8;
						}
						&:nth-child(5){
							grid-column: span 11;
						}
						&:nth-child(6){
							grid-column: span 11;
						}
					}
				});
			}
			&-catalog-cat{
				grid-template-columns: 3.45fr 8.55fr;
				grid-gap: 20px;
				margin-left: -55px;
				& >*{
					&:nth-child(1){
						//background-color: @info;
					}
				}
			}
		}
		&.is--block{
			&-subs{
				max-width: 720px;
				margin: 0 auto;
				grid-template-columns: 100%;
				.media-breakpoint-up(@sm; {
					grid-template-columns: repeat(3, 1fr);
				});
			}
		}
	}
	&row{
		&.is--page{
			&-catalog-cat{
				margin-left: -14px;
				margin-right: -14px;
				& > *{
					padding-left: 14px;
					padding-right: 14px;
					padding-bottom: 33px;
				}
			}
		}
	}
	&slick{
		&{}
		&-slide{}
	}
	&aside{
		background-color: @info;
		padding: 24px 24px 24px 55px;
	}
	&card{
	}
	&text{
		&.is--block{
			&-seo{
				color: @success;
				//.heading7();
				font-size: 14px;
				line-height: 14px;
				p,div{
					margin-bottom: 25px;
				}
				h2, h3, h4, h5{
					.text16();
					margin-bottom: 15px;
				}
			}
		}
	}
	&img{
	}
	&hr{
	}
	&btn{
	}
}