.page-header__{
	&panel{
		display: flex;		
		&.is--page{		
			&-catalog{
				justify-content: space-between;
				align-items: center;
				margin-bottom: 20px;
				.page-header__heading{
					padding-right: 10px;
				}
			}
		}
	}
	&heading{
		&.is--block{
			&-articles{
				margin-bottom: 32px;
			}
			&-subs{
				margin-bottom: 25px;
			}
		}					
		&.is--page{					
			&-default{				
				
			}
			&-index{
				&-catalog{
					margin-bottom: 30px;
					.media-breakpoint-up(@lg; {
						margin-bottom: 55px;
					});
				}
				&-new{
					margin-bottom: 30px;
				}
			}
		}
	}
}