.page-header__{
	&panel{
		display: flex;
		justify-content: space-between;
		align-items: center;	
		.page-header__heading{
			padding-right: 10px;
		}	
		&.is--page{		
			&-catalog{
				margin-bottom: 20px;
			}
			&-catalog-cat{
				margin-bottom: 33px;
			}
		}
	}
	&heading{
		&.is--block{
			&-articles{
				margin-bottom: 32px;
			}
			&-subs{
				margin-bottom: 25px;
			}
		}					
		&.is--page{					
			&-default{				
				
			}
			&-index{
				&-catalog{
					margin-bottom: 30px;
					.media-breakpoint-up(@lg; {
						margin-bottom: 55px;
					});
				}
				&-new{
					margin-bottom: 30px;
				}
			}
		}
	}
}