.page-header__{
	&panel{
		display: flex;
		justify-content: space-between;
		align-items: center;	
		.page-header__heading{
			padding-right: 10px;
		}	
		&.is--page{		
			&-catalog{
				margin-bottom: 20px;
			}
			&-catalog-cat{
				margin-bottom: 33px;
				.media-breakpoint-down(@md; {
					flex-wrap: wrap;
					.page-header__heading{
						padding-right: 0px;
						padding-bottom: 10px;
						flex: 1 1 auto;
					}	
				});
			}
		}
	}
	&heading{
		&.is--block{
			&-articles{
				margin-bottom: 32px;
			}
			&-subs{
				margin-bottom: 25px;
			}
			&-menu-subs{
				margin-bottom: 10px;
				color: @white;
				.heading7();
			}
		}					
		&.is--page{					
			&-default{				
				
			}
			&-index{
				&-catalog{
					margin-bottom: 30px;
					.media-breakpoint-up(@lg; {
						margin-bottom: 55px;
					});
				}
				&-new{
					margin-bottom: 5px;
					.media-breakpoint-up(@lg; {
						margin-bottom: 30px;
					});
				}
			}
			&-catalog-card{
				color: @black;
				font-weight: 400;
				font-size: 1.667rem;
				line-height: 93%;
				margin-bottom: 8px;
				@media print{
					font-size: 1.4rem;
					line-height: 120%;
					margin-bottom: 10px;
				}
			}
			&-contacts{
				margin-bottom: 15px;
			}
			&-contacts-form{
				margin-bottom: 30px;
			}
		}
	}
}