.icon-svg {
	display: inline-block;
	width: 100%;
	height: 100%;
	fill: currentColor;
}

.icon-design {
	font-size:(40/10)*1rem;
	//width:(144/40)*1em;
}
.icon-icon-bay {
	font-size:(36/10)*1rem;
	//width:(36/36)*1em;
}
.icon-icon-catalog {
	font-size:(24/10)*1rem;
	//width:(24/24)*1em;
}
.icon-icon-close {
	font-size:(24/10)*1rem;
	//width:(24/24)*1em;
}
.icon-icon-compare {
	font-size:(32/10)*1rem;
	//width:(32/32)*1em;
}
.icon-icon-humb {
	font-size:(24/10)*1rem;
	//width:(24/24)*1em;
}
.icon-icon-search {
	font-size:(24/10)*1rem;
	//width:(24/24)*1em;
}
.icon-icon-services {
	font-size:(36/10)*1rem;
	//width:(36/36)*1em;
}
.icon-icon-why {
	font-size:(36/10)*1rem;
	//width:(36/36)*1em;
}
.icon-logotip {
	font-size:(49/10)*1rem;
	//width:(141/49)*1em;
}
.icon-soc-fb {
	font-size:(20/10)*1rem;
	//width:(10/20)*1em;
}
.icon-soc-g {
	font-size:(20/10)*1rem;
	//width:(31/20)*1em;
}
.icon-soc-vk {
	font-size:(20/10)*1rem;
	//width:(36/20)*1em;
}
.icon-soc-yb {
	font-size:(20/10)*1rem;
	//width:(28/20)*1em;
}
