<section class="wrapper catalogmenu__block d-flex" data-catalog-block>
	<div class="catalogmenu__inner">
		<div class="catalogmenu__top d-flex">
			<div class="catalogmenu__btn">
				<a href="{{page.catalog}}" class="menucatalog__btn"><span class="icon-menucatalog_icon"></span>Каталог</a>
			</div>
			<a class="catalogmenu__top__close">
				<span class="icon-close_icon"></span>
			</a>
		</div>
		<div class="catalogmenu__list">
			<ul>
				<li class="parent"  data-image="/upload/uf/f33/f332f673f25ebfa70be92d596a09f65e.jpg">
					<a href="/catalog/water/" >
						Водонагревательное оборудование <span class="icon-catalogmenu_arrow"></span>
					</a>                                     
					<ul class="catalogmenu__child">
						<div class="valve"></div>
						<ul class="col__submenu">
							<a class="heading " href="/catalog/water/flowing/" >
								Водонагреватели проточные
							</a> 
							<ul class="col__submenu">
								<a class="heading " href="/catalog/water/accumulative/" >Водонагреватели накопительные</a>

								<li>
									<a href="/catalog/water/accumulative/Storage_water_heaters/" >Накопительные водонагреватели с эмалированным внутренним баком</a>
								</li>

								<li>
									<a href="/catalog/water/accumulative/Storage_water_heaters_internal_tank/" >Накопительные водонагреватели с внутренним баком из нержавеющей стали</a>
								</li>

								<li>
									<a href="/catalog/water/accumulative/Storage_water_heaters_polyprom/" >Полупромышленные накопительные водонагреватели</a>
								</li>
							</ul>
						</ul>
					</ul>
				</li>
				<li class="parent" data-image="/upload/uf/0e6/0e6cfddf207dece6088593d5cbbfb760.jpg">
                    <a href="/catalog/heat/">
                        Тепловое оборудование <span class="icon-catalogmenu_arrow"></span>
                    </a>
                    <ul class="catalogmenu__child">
                        <div class="valve"></div>
                        <ul class="col__submenu">
		                    <a class="heading " href="/catalog/heat/oil-radiators/">
		                        Радиаторы масляные</a>
		                   	<li>
			                    <a href="/catalog/heat/oil-radiators/fan_heater/">Радиаторы типа ''Fan Heater'' (встроенный тепловентилятор)</a>
			                </li>
			                <li>
			                    <a href="/catalog/heat/oil-radiators/standart/">Радиаторы типа "Standard"</a>
			                </li>
			                <ul class="col__submenu">
                    			<a class="heading " href="/catalog/heat/fan/">
                        			Тепловентиляторы
                        		</a>
                        		<li>
				                    <a href="/catalog/heat/fan/spiral/">Спиральные</a>
				                </li>
				                <li>
				                    <a href="/catalog/heat/fan/ceramic/">Металлокерамические</a>
				                </li>
				                <li>
				                    <a href="/catalog/heat/fan/ceramic_elcontr_timer_rot_remote/">Металлокерамические с эл. управлением, таймером и пультом Д/У</a>
				                </li>
				                <li>
				                    <a href="/catalog/heat/fan/ceramic_onwall_remote_contr_time/">Металлокерамические настенные с Д/У и таймером</a>
				                </li>
				            </ul>
				            <ul class="col__submenu">
                    			<a class="heading " href="/catalog/heat/convectors/">Электрические конвекторы</a>
                    			<li>
				                    <a href="/catalog/heat/convectors/mec/">Механический термостат</a>
				                </li>
				                <li>
				                    <a href="/catalog/heat/convectors/eln/">Электронный термостат</a>
				                </li>
				                <li>
				                    <a href="/catalog/heat/convectors/aksessuary1/">Аксессуары</a>
				                </li>
				            </ul>
				            <ul class="col__submenu">
			                    <a class="heading " href="/catalog/heat/gas-heaters/">
			                        Газовые обогреватели</a>
			                </ul>
			                <ul class="col__submenu">
                    			<a class="heading " href="/catalog/heat/infrared-heaters/">
                        		Инфракрасные обогреватели
	                        	</a>
	                        </ul>
                        	<ul class="col__submenu">
			                    <a class="heading " href="/catalog/heat/heat-gun/">
			                        Тепловые пушки</a>
			                </ul>
			                <ul class="col__submenu">
			                    <a class="heading " href="/catalog/heat/heating-curtain/">
			                        Тепловые завесы</a>
			                </ul>
			            </ul>
			        </ul>
			    </li>
			    <li class="parent" data-image="/upload/uf/9ca/9caa4b519a06813ec14330ea2d4b7f53.jpg">
                    <a href="/catalog/climate/">
                        Климатическое оборудование                        <span class="icon-catalogmenu_arrow"></span>
                    </a>
                    <ul class="catalogmenu__child">
                        <div class="valve"></div>
                        <ul class="col__submenu">
		                    <a class="heading " href="/catalog/climate/conditioners/">
		                        Кондиционеры и&nbsp;сплит-системы</a>
			                <li>
			                    <a href="/catalog/climate/conditioners/mobilcond/">Мобильные кондиционеры</a>
			                </li>
			                <li>
			                    <a href="/catalog/climate/conditioners/split/">Сплит-системы</a>
			                </li>
			               	<li>
			                    <a href="/catalog/climate/conditioners/split_inverter/">Инверторные сплит-системы</a>
			                </li>
			                <li>
			                    <a href="/catalog/climate/conditioners/semi_floor_ceiling/">Напольно-потолочные сплит-системы</a>
			                </li>
			                <li>
			                    <a href="/catalog/climate/conditioners/semi_channel/">Канальные сплит-системы</a>
			                </li>
			                <li>
			                    <a href="/catalog/climate/conditioners/semi_cassette/">Кассетные сплит-системы</a>
			                </li>
			                <li>
			                    <a href="/catalog/climate/conditioners/tower/">Колонные сплит-системы</a>
			                </li>
			            </ul>
			            <ul class="col__submenu">
			            	<a class="heading " href="/catalog/climate/dehumidifier/">
			                        Осушители</a>
			            </ul>
			            <ul class="col__submenu">
			            	<a class="heading " href="/catalog/climate/aircleaner/">Воздухоочистители                                            </a>
			           	</ul>
			            <ul class="col__submenu">
			                    <a class="heading " href="/catalog/climate/humidifier/">
			                        Ультразвуковые увлажнители воздуха                                            </a>
			            </ul>
			            <ul class="col__submenu">
			                    <a class="heading " href="/catalog/climate/washerair/">
			                        Мойки воздуха                                            </a>
			            </ul>
			            <ul class="col__submenu">
			            	<a class="heading " href="/catalog/climate/fans/">Электрические вентиляторы</a>
			            	<li>
			                    <a href="/catalog/climate/fans/table/">Настольные вентиляторы</a>
			                </li>
			                <li>
			                    <a href="/catalog/climate/fans/floor/">Напольные вентиляторы</a>
			                </li>
			            </ul>
			        </ul>
			    </li>
			    <li class="parent" data-image="/upload/uf/c96/c963eee0c6b29702396a19b6ecf7d083.jpg">
                    <a href="/catalog/industrialconditioners/">
                        Промышленное климатическое оборудование                        <span class="icon-catalogmenu_arrow"></span>
                    </a>
                    <div class="valve"></div>
                    <ul class="col__submenu">
                    	<a class="heading " href="/catalog/industrialconditioners/multizonal/">Мультизональные системы</a>
                    </ul>
                    <ul class="col__submenu">
	                    <a class="heading " href="/catalog/industrialconditioners/chilfanc/">
	                        Чиллеры-фанкойлы</a>
	                </ul>
	            </li>
	            <li class="parent" data-image="/upload/uf/2f8/2f8faecac88da438b1eaba30cdcda1ad.jpg">
                    <a href="/catalog/large_home_appliances/">
                        Крупная бытовая техника                        <span class="icon-catalogmenu_arrow"></span>
                    </a>
                    <div class="valve" ></div>
                    <ul class="col__submenu">
                    	<a class="heading " href="/catalog/large_home_appliances/refrigerators/">
                        Холодильники                                            </a>
                    </ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="catalogmenu__lay"></div>
</section>

<section class="wrapper sitemenu__block d-flex" data-menu-block>
			<div class="sitemenu__inner">
				<div class="sitemenu__top d-flex">
					<select class="sitemenu__top__lang">
													<option  value="EN">EN</option>
													<option selected value="RU">RU</option>
											</select>
					<a class="sitemenu__top__close">
						<span class="icon-close_icon"></span>
					</a>
				</div>
				<div class="sitemenu__list">
					<ul>
								<ul>
			<li>
			<a href="http://www.shop.timberk.ru/" onclick="ym(7498939, 'reachGoal', 'shop_official'); ga('send', 'event', 'go_to', 'shop_official'); return true;">Интернет-магазин</a>
			</li>
				<li>
				<a href="/company/" >Компания</a>
			</li>
				<li>
				<a href="/service/" >Сервис</a>
			</li>
				<li>
				<a href="/publicity/" >Реклама</a>
			</li>
				<li>
				<a href="/where/authorized_dealers/" >Где купить</a>
			</li>
				<li>
				<a href="/contacts/" >Контакты</a>
			</li>
			</ul>
					</ul>
				</div>
				<div class="sitemenu__social d-flex">
					<a href="https://vk.com/club_timberk" class="icon-icon_vk"></a>
					<a href="https://www.facebook.com/timberk.official" class="icon-icon_fb"></a>
					<a href="https://twitter.com/ru_timberk" class="icon-icon_tw"></a>
					<a href="https://www.youtube.com/user/timberkOfficial" class="icon-icon_yt"></a>
					<a href="https://plus.google.com/+TimberkOfficial" class="icon-icon_gl"></a>
				</div>
				<div class="sitemenu__subscribe">
						

	
		<form id="bx_subscribe_subform_i0tFNu" role="form" method="post" action="/" class="footer__subscribe"><input type="hidden" name="bxajaxid" id="bxajaxid_1f7eb114515221e657d9006023e0b8be_Ar8Szp" value="1f7eb114515221e657d9006023e0b8be" /><input type="hidden" name="AJAX_CALL" value="Y" />
			<input type="hidden" name="sessid" id="sessid_2" value="8b2dd55e6d6d0985e56a7d91e8df3285" />		<input type="hidden" name="sender_subscription" value="add">
			<div class="footer__subscribe__heading">Подпишитесь на рассылку новостей!</div>
			<div class="footer__subscribe__input d-flex">
				<input class="bx-form-control" type="email" name="SENDER_SUBSCRIBE_EMAIL" value="" title="Введите ваш e-mail" placeholder="Введите ваш e-mail">
				<button class="sender-btn btn-subscribe" id="bx_subscribe_btn_i0tFNu">></button>
			</div>

			<div style="display: none;">
								<div class="bx-subscribe-desc">Выберите рассылку</div>
										<div class="bx_subscribe_checkbox_container">
					<input type="checkbox" name="SENDER_SUBSCRIBE_RUB_ID[]" id="SENDER_SUBSCRIBE_RUB_ID_1" value="1" checked>
					<label for="SENDER_SUBSCRIBE_RUB_ID_1">Новости</label>
				</div>
							<div class="bx_subscribe_checkbox_container">
					<input type="checkbox" name="SENDER_SUBSCRIBE_RUB_ID[]" id="SENDER_SUBSCRIBE_RUB_ID_2" value="2" checked>
					<label for="SENDER_SUBSCRIBE_RUB_ID_2">Товары</label>
				</div>
						</div>

				</form>
		</div></div>				</div>
				</div>
				<div class="sitemenu__lay"></div>
</section>